@model IEnumerable<Bisiklet>

@foreach (var item in Model)
{
    <div class="col mb-5">
        <div class="card product-card h-100">
            <div class="badge position-absolute" style="top: 0.2rem; right:0.2rem;">
                <form action="/Favorites/Add" method="post">
                    <input type="hidden" name="bisikletId"
                           value="@item.Id" />
                    <button type="submit" class="btn btn-outline-dark ">
                        <i class="bi bi-heart"></i>
                    </button>
                </form>
            </div>
            <!-- Product image-->
            <div class="product-img">
                <img src="/Img/Bicycles/@item.Resim1" alt="@item.Marka.Adi @item.Modeli" class="img-fluid" />
            </div>
            <!-- Product details-->
            <div class="card-body p-4 d-flex flex-column text-center">
                <!-- d-flex flex-column + text-center eklendi -->
                <h5 class="product-title fw-bolder">
                    <!-- product-title eklendi -->
                    @item.Marka.Adi @item.Modeli @item.BisikletTipi
                </h5>
                <div class="product-price">
                    <!-- product-price eklendi -->
                    @item.Fiyati.ToString("c")
                </div>
                <div class="btn-area">
                    <!-- butonu alta sabitlemek için -->
                    <a class="btn btn-outline-dark mt-auto" href="/Bisiklet/Index/@item.Id">İncele</a>
                </div>
            </div>

            
        </div>
    </div>
}

