@model IEnumerable<Bisiklet>
@{
    ViewData["Title"] = "Favorilerim";
}

<h1>Favorilerim</h1>

@if (Model is not null && Model.Count() > 0)
{
    <table class="table table-bordered table-bordered">
        <tr>
            <th>Bisiklet</th>
            <th>Resim</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="nav-link text-dark" href="/Bisiklet/Index/@item.Id">
                        @item.Marka.Adi @item.Modeli @item.Renk @item.BisikletTipi
                    </a>
                </td>
                <td>
                    <a href="/Img/Bicycles/@item.Resim1">
                        <img src="/Img/Bicycles/@item.Resim1" alt="@item.Modeli" height="50" />
                    </a>
                </td>
                <td>
                    <form action="/Favorites/Remove" method="post">
                        <input type="hidden" name="bisikletId" value="@item.Id" />
                        <button type="submit"
                                class="btn"
                                style="background-color:#B22222; border-color:#8B0000; color:#fff;">
                            X
                        </button>
                    </form>

                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert"
         style="background-color:#B22222; color:#fff; border:1px solid #8B0000;">
        <h3>Favorilerinizde Bisiklet Yok!</h3>
    </div>

    <div style="margin-bottom:475px;"></div>


}