@model IEnumerable<BisikletSatis.Entities.Tamirhane>

@{
    ViewData["Title"] = "Tamirhane Kayıtları";
}

<h1>Tamirhane Kayıtları</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiseGelisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BisikletSorunu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServisUcreti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServistenCikisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YapilanIslemler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantiKapsamindaMi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BisikletNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BisikletTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notlar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiseGelisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BisikletSorunu)
                </td>
                <td>
                    @item.ServisUcreti.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServistenCikisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YapilanIslemler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GarantiKapsamindaMi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BisikletNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BisikletTipi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notlar)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn" style="background-color:#B22222; border-color:#8B0000; color:#fff;"
                       asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
